/* ==========================================================================
   COLORS
============================================================================ */

/* PRIMARY COLORS
============================================================================ */
/*
Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
*/

/* LIGHT GREYS
============================================================================ */
/*
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
*/

/* DARK GREYS
============================================================================ */
/*
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

/* ==========================================================================
   BASE STYLING
============================================================================ */

/* Global variables */
:root {
  /* Primary color variables */
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  /* White color variables */
  --color-white: #fff;

  /* Light-grey color variables */
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  /* Dark-grey color variables */
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* Box shadow variables */
  // large spread, light opacity
  --shadow-1: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  // large spread, very light opacity
  --shadow-2: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  /* Dividing line variables */
  --line-1: 1px solid var(--color-grey-light-2);
}

/* Clears all default browser margin and padding */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  // Everything to inherit the border-box from html
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // Sets default font size to 10px for easier rem/em calcs
  font-size: 62.5%; // 1rem = 10px;
}

body {
  // Base font styling
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--color-grey-dark-2);

  // Background gradient
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-light-2),
    var(--color-grey-light-3)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
