/* ==========================================================================
   COMPONENT STYLES
============================================================================ */

/* LOGO
============================================================================ */

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/* SEARCH BOX
============================================================================ */

.search {
  /* Searchbar flex properties */
  // 0 grow, 0 shrink, 40% width
  flex: 0 0 40%;

  // Parent element of the search button
  display: flex;

  // Centering of the search button icon in the searchbar
  justify-content: center; // Main axis centering
  align-items: center; // Cross axis centering

  @media only screen and (max-width: $breakpoint-smallest) {
    order: 1;
    flex: 0 0 100%; // Forces the searchbar to wrap to next row
    background-color: var(--color-grey-light-2);
  }

  /* Text field for user input */
  &__input {
    /* Input element's font styling is NOT automatically
       inherited. Must be done manually here. */
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    // Search text box styling
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;

    // Negative margin so that the button is on top of the bar
    margin-right: -3.25rem;

    // Animations
    transition: all 0.2s;

    // When the search bar is focused, it increases in size (width)
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3);
    }
  }

  /* Sibling selector to match the background-color
  of the button icon to that of the focused search bar
  background-color */
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  /* Enter button: magnifying glass */
  &__button {
    border: none;
    background-color: var(--color-grey-light-2); //Same as searchbar color

    // Removes any focus styling on the button
    &:focus {
      outline: none;
    }

    // When clicked button moves down some to look like it's being pushed
    &:active {
      transform: translateY(2px);
    }
  }

  /* Magnifying glass icon */
  &__icon {
    // Search icon sizing
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/* TOP USER NAVIGATION BAR
============================================================================ */

.user-nav {
  /* Overwrites the header centering so that it
     stretches vertically to occupy the whole header height */
  align-self: stretch;

  display: flex;

  // Centering of the user-nav items
  justify-content: center; // Main axis centering
  align-items: center; // Cross axis centering

  /* Selects all of the direct children of user-nav */
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;

    // Vertical centering of the icons
    align-items: center; // Cross axis centering
  }

  /* Selects hover state of all of the direct children of user-nav */
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  /* Selects active state of all of the direct children of user-nav */
  & > *:active {
    color: var(--color-grey-light-2);
    background-color: var(--color-primary-light);
  }

  /* Holds the icons that are in the top user nav bar */
  &__icon-box {
    position: relative;
  }

  /* Top user nav bar icons */
  &__icon {
    // User icons sizing
    height: 2.25rem;
    width: 2.25rem;

    fill: var(--color-grey-dark-2);

    &:active {
      fill: var(--color-grey-light-2);
    }
  }

  /* Circular top right notification counter */
  &__notification {
    font-size: 0.8rem;

    // Circular styling
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);

    // Circle postioning
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    display: flex;
    // Centering of the notification text
    justify-content: center; // Main axis centering
    align-items: center; // Cross axis centering
  }

  /* User content: photo */
  &__user-photo {
    // User photo sizing
    height: 3.75rem;
    width: 3.75rem;
    // Crops photo to a circle
    border-radius: 50%;

    margin-right: 1rem;
  }

  /* User content: name */
  &__user-name {
    margin-right: 2.5rem;
  }
}

/* SIDE NAVIGATION
============================================================================ */

/* Side navigation container */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  // Lines the nav items in a row instead of column at 900px
  @media only screen and (max-width: $breakpoint-medium) {
    display: flex;
    margin-top: 0;
  }

  // List items
  &__item {
    // Parent element of before pseudo element
    position: relative;

    // Selects all list items except for the last one
    &:not(:last-child) {
      margin-bottom: 0.5rem;

      // Removes margin bottom at 900px
      @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: 0;
      }
    }

    // Spreads the nav items out over available space at 900px
    @media only screen and (max-width: $breakpoint-medium) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);

    // Transition normal state
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  // Link item hover transition
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  // Link item active state
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  // Navigation links
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    // Centers the content within the box at 900px
    @media only screen and (max-width: $breakpoint-medium) {
      justify-content: center;
    }

    @media only screen and (max-width: $breakpoint-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    // Side navigation icon sizing
    width: 1.75rem;
    height: 1.75rem;

    margin-right: 2rem;
    fill: var(--color-grey-light-1);

    @media only screen and (max-width: $breakpoint-small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/* Legal text at bottom of side navigation */
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $breakpoint-large) {
    display: none;
  }
}

/* GALLERY
============================================================================ */

/* Image gallery */
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/* HOTEL OVERVIEW
============================================================================ */

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line-1);

  @media only screen and (max-width: $breakpoint-smallest) {
    flex-wrap: wrap;
  }

  & > * {
    @media only screen and (max-width: $breakpoint-small) {
      justify-content: center;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 2.25rem;
      text-align: center;
      padding: 1.25rem 2rem;
      width: 100%;
    }
  }

  &__stars {
    // Pushes everything after stars to the right
    margin-right: auto;
    display: flex;

    @media only screen and (max-width: $breakpoint-smallest) {
      margin: 1rem 0 2.5rem 0;
      width: 50%;
    }
  }

  &__star-icon,
  &__location-icon {
    // Icon sizing
    height: 1.75rem;
    width: 1.75rem;

    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $breakpoint-smallest) {
      margin: 1rem 0 2.5rem 0;
      width: 50%;
    }
  }

  &__location-icon {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-white);
    padding: 1.25rem 2.25rem;

    // Fills the whole height
    align-self: stretch;

    // Centering the rating in the box
    display: flex;
    flex-direction: column; // Stacks the rating number on top
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $breakpoint-small) {
      padding: 1rem 1.5rem;
    }

    @media only screen and (max-width: $breakpoint-smallest) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 0.4rem;

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 0.5rem;
    }
  }
}

/* BUTTONS
============================================================================ */

/* Inline button */
.btn-inline {
  border: none;
  color: var(--color-primary);
  // Inherits from parent element: overview__location
  font-size: inherit;

  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  // Arrow
  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    // Moves the arrow right on hover
    span {
      margin-left: 8px;
    }
  }
}

/* Call to action */
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--color-grey-light-1);
  cursor: pointer;

  position: relative;

  /* Hides the hidden part since it
   is positioned outside of the parent element */
  overflow: hidden;

  /* Selects all child elements of the button */
  & > * {
    display: inline-block;

    // Size to fill 100% of parent element
    height: 100%;
    width: 100%;

    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__hidden {
    position: absolute;
    padding: 2rem 0rem;

    // Positions the text outside of the button parent element
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-dark),
      var(--color-primary-light)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__hidden {
    // Moves the text back into the button parent element
    top: 0;
  }

  &:focus {
    outline: none;
  }
}

/* DETAIL PARAGRAPH
============================================================================ */

/* Selects all detail paragraphs except for the last one */
.detail-paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

/* DETAIL LIST
============================================================================ */

.detail-list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  /* Detail list items */
  &__item {
    /* Detail section list item flex properties */
    // 0 grow, 0 shrink, 50% width
    // This creates two columns
    flex: 0 0 50%;

    margin-bottom: 1rem;

    @media only screen and (max-width: $breakpoint-smallest) {
      font-size: 1.2rem;
    }
  }

  /* Icon before each detail list item */
  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.8rem;

    /* Pink color -- older browsers: background-image */
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    /* Pink color -- newer browsers: masks */
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}

/* RECOMMENDATION
============================================================================ */

.recommendation {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  @media only screen and (max-width: $breakpoint-smallest) {
    flex-wrap: wrap;
  }

  &__count {
    margin-right: auto;
  }

  &__user {
    display: flex;
  }

  &__user-photo {
    // This adds the border to the specified height and width
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    &:not(:last-child) {
      margin-right: -1.6rem;
    }

    @media only screen and (max-width: $breakpoint-smallest) {
      margin-top: 1.5rem;
    }
  }
}

/* REVIEWS
============================================================================ */

.review {
  background-color: var(--color-white);
  box-shadow: var(--shadow-2);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 100;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    // Photo size and shape circle
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;

    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }

  // Large quotation mark background
  &::before {
    content: "\201C"; // ISO number
    position: absolute;
    top: 8rem;
    left: 0;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1rem;
    z-index: 0;

    color: var(--color-grey-light-3);
  }
}

/* CALL TO ACTION
============================================================================ */

.call-to-action {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: $breakpoint-small) {
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.2rem;
    }

    @media only screen and (max-width: $breakpoint-smallest) {
      font-size: 1.5rem;
      margin: 0 1.5rem 2.5rem 1.5rem;
    }
  }
}
