/* ==========================================================================
   SITE LAYOUT STYLES
============================================================================ */

/* SITE CONTAINER
============================================================================ */

.container {
  /* If viewport is less than 1200px,
   it will occupy 100% of the viewport */
  max-width: 120rem; // 1200px
  // Centers the container within the body element
  margin: 2rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-1);

  min-height: 50rem;
}

/* HEADER
============================================================================ */

/* Top bar section along the top of the container */
.header {
  font-size: 1.4rem;
  height: 7rem; // 70px
  background-color: var(--color-white);
  border-bottom: var(--color-grey-light-2);

  // Parent container for the logo, searchbar, and user nav
  display: flex;
  // Divides the empty space between the child elements
  justify-content: space-between; // Horizontal spacing alignment
  align-items: center; // Vertical alignment
}

/* CONTENT
============================================================================ */

/* Contains the sidebar and hotel-view */
.content {
  display: flex;
}

/* Sidebar */
// Left side of container
.sidebar {
  background-color: var(--color-grey-dark-1);

  /* Sidebar flex properties */
  // 0 grow, 0 shrink, 18% width
  flex: 0 0 18%;

  // Parent container for the side-nav and legal
  display: flex;
  flex-direction: column; // Main axis to vertical
  justify-content: space-between; // Pushes legal text to bottom
}

/* Hotel view */
// Right side of container
.hotel-view {
  background-color: var(--color-white);

  height: 70rem;

  /* Hotel-view flex properties */
  // 1 grow
  // This forces the hotel-view to occupy the remaining space
  flex: 1;
}
